spring.h2.console.enabled=true
spring.cloud.gcp.credentials.location=classpath:keys/storage-key.json
jwt.secret=testKey
jwt.lifeTime=5
jwt.BCryptStrength=10
as3j.api.bucketName=as3j-messenger
as3j.api.tempBucketName=as3j-messenger-tmp
as3j.files.maxAvatarSize=400
sock-js.client.library.url=https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js