spring.h2.console.enabled=true
spring.cloud.gcp.credentials.location=classpath:keys/storage-key.json
jwt.secret=testKey
jwt.lifeTime=5
jwt.BCryptStrength=10
as3j.api.bucketName=as3j-messenger
as3j.api.tempBucketName=as3j-messenger-tmp
as3j.api.projectId=glass-sight-277511
as3j.api.mjPublicKey=
as3j.api.mjPrivateKey=
as3j.api.mailSender=AS3J Messenger
as3j.api.mailAddress=216890@edu.p.lodz.pl
as3j.files.maxAvatarSize=400